/* Basic CSS Reset */

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Ensure consistent box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default styles for links */
a {
  text-decoration: none;
  width: 100%;
}

/* Reset some HTML5 elements to display consistently */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Optional: Set a base font size and family */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(49, 49, 49);
  color: white;
}